## Dummy Model

### 1. Load Data

In [16]:
import pandas as pd

original_data = pd.read_csv("static/films_jp_box.csv")
original_data.head()

,film_id,titre,genre_principale,date_sortie_france,date_sortie_usa,image_url,synopsis,duree,note_moyenne,acteurs,entrees_demarrage_france,entrees_totales_france,budget,recette_usa,recette_reste_du_monde,recette_monde
0,20156,L'Extraordinaire Voyage de Marona,Animation,08/01/2020,00/00/0000,https://www.jpbox-office.com/cinema/images/pos...,"Victime d’un accident, Marona, une petite chie...",1h 32min,Non disponible,Non disponible,12 065,37 632,?,- $,41 568 $,41 568 $
1,19778,Les Filles du Docteur March,Adaptation Livre,01/01/2020,25/12/2019,https://www.jpbox-office.com/cinema/images/pos...,Une nouvelle adaptation du classique de Louisa...,2h 15min,3,Emma Watson (Rôle principal - - Meg March) | T...,242 663,805 211,40 000 000 $,108 101 214 $,92 100 000 $,200 201 214 $
2,18940,Birds of Prey et la fabuleuse histoire de Harl...,Adaptation BD,05/02/2020,07/02/2020,https://www.jpbox-office.com/cinema/images/pos...,"Vous connaissez l'histoire du flic, de l'oisea...",1h 49min,3,Margot Robbie (Rôle principal - - Harley Quinn...,412 178,1 047 460,84 500 000 $,84 158 461 $,117 700 000 $,201 858 461 $
3,18815,"Sonic, le hérisson",Adapt. Jeu Vidéo,12/02/2020,14/02/2020,https://www.jpbox-office.com/cinema/images/pos...,L'histoire du hérisson bleu le plus rapide du ...,1h 40min,3,Jim Carrey (Rôle principal - - Dr. Ivo Robotni...,771 015,2 113 220,95 000 000 $,146 066 470 $,168 755 633 $,314 822 103 $
4,21042,Uncharted,Adapt. Jeu Vidéo,16/02/2022,18/02/2022,https://www.jpbox-office.com/cinema/images/pos...,"Nathan Drake, voleur astucieux et intrépide, e...",1h 55min,3,Tom Holland (Rôle principal - - Nathan Drake) ...,955 650,2 514 261,120 000 000 $,148 648 820 $,252 041 094 $,400 689 914 $

In [17]:
original_data.columns

Index(['film_id', 'titre', 'genre_principale', 'date_sortie_france',
       'date_sortie_usa', 'image_url', 'synopsis', 'duree', 'note_moyenne',
       'acteurs', 'entrees_demarrage_france', 'entrees_totales_france',
       'budget', 'recette_usa', 'recette_reste_du_monde', 'recette_monde'],
      dtype='object')

### 2. Feature selection

In [50]:
def select_data(current_data : pd.DataFrame) -> pd.DataFrame :
    selected_data = current_data.copy()
    #selected_data = selected_data.drop("film_id", axis=1)
    selected_data = selected_data.drop("titre", axis=1)
    selected_data = selected_data.drop("genre_principale", axis=1)
    #selected_data = selected_data.drop("date_sortie_france", axis=1)
    #selected_data = selected_data.drop("date_sortie_usa", axis=1)
    selected_data = selected_data.drop("image_url", axis=1)
    selected_data = selected_data.drop("synopsis", axis=1)
    #selected_data = selected_data.drop("duree", axis=1)
    selected_data = selected_data.drop("note_moyenne", axis=1)
    selected_data = selected_data.drop("acteurs", axis=1)
    #selected_data = selected_data.drop("entrees_demarrage_france", axis=1)
    #selected_data = selected_data.drop("entrees_totales_france", axis=1)
    #selected_data = selected_data.drop("budget", axis=1)
    #selected_data = selected_data.drop("recette_usa", axis=1)
    selected_data = selected_data.drop("recette_reste_du_monde", axis=1)
    #selected_data = selected_data.drop("recette_monde", axis=1)
    return selected_data

selected_data = select_data(original_data)
selected_data.head()

,film_id,date_sortie_france,date_sortie_usa,duree,entrees_demarrage_france,entrees_totales_france,budget,recette_usa,recette_monde
0,20156,08/01/2020,00/00/0000,1h 32min,12 065,37 632,?,- $,41 568 $
1,19778,01/01/2020,25/12/2019,2h 15min,242 663,805 211,40 000 000 $,108 101 214 $,200 201 214 $
2,18940,05/02/2020,07/02/2020,1h 49min,412 178,1 047 460,84 500 000 $,84 158 461 $,201 858 461 $
3,18815,12/02/2020,14/02/2020,1h 40min,771 015,2 113 220,95 000 000 $,146 066 470 $,314 822 103 $
4,21042,16/02/2022,18/02/2022,1h 55min,955 650,2 514 261,120 000 000 $,148 648 820 $,400 689 914 $

### 3. Clean data

In [52]:
def get_year(date_str : str) -> int :
    tab = date_str.split('/')
    max_ind  = len(tab)
    if max_ind ==0 :
        return 0
    
    return int(tab[max_ind-1])
    
def get_minutes(period) -> int:  
    period_str = str(period)
    tab = period_str.split('h')
    if len(tab) ==0 :
        return 0
        
    total = 0
    for content in tab : 
        number = 0
        is_minutes=False
        if content.find('min') :
            is_minutes = True
            number = content.replace("min", "")
     
        if number.isdigit() :
            number = int(number)
            if not is_minutes :
                number *= 60

            total+=number

    return total

def get_number(spaced_num) -> int:
    spaced_num = str(spaced_num)
    number = spaced_num.replace('$', '')
    number = number.replace(' ', '')
    if not number.isdigit() :
        return 0
    
    return int(number)

def clean_data( current_data : pd.DataFrame) -> pd.DataFrame :
    cleaned_data = current_data.copy()
    cleaned_data["date_sortie_france"] = cleaned_data["date_sortie_france"].apply(lambda x : get_year(x)).astype(int)
    cleaned_data["date_sortie_usa"] = cleaned_data["date_sortie_usa"].apply(lambda x : get_year(x)).astype(int)
    cleaned_data["duree"] = cleaned_data["duree"].apply(lambda x : get_minutes(x)).astype(int)
    cleaned_data["entrees_demarrage_france"] = cleaned_data["entrees_demarrage_france"].apply(lambda x : get_number(x)).astype(int)
    cleaned_data["entrees_totales_france"] = cleaned_data["entrees_totales_france"].apply(lambda x : get_number(x)).astype(int)
    cleaned_data["budget"] = cleaned_data["budget"].apply(lambda x : get_number(x)).astype(int)
    cleaned_data["recette_usa"] = cleaned_data["recette_usa"].apply(lambda x : get_number(x)).astype(int)
    cleaned_data["recette_monde"] = cleaned_data["recette_monde"].apply(lambda x : get_number(x)).astype(int)
    return cleaned_data 

cleaned_data = clean_data(selected_data)
cleaned_data.head()

,film_id,date_sortie_france,date_sortie_usa,duree,entrees_demarrage_france,entrees_totales_france,budget,recette_usa,recette_monde
0,20156,2020,0,1,12065,37632,0,0,41568
1,19778,2020,2019,2,242663,805211,40000000,108101214,200201214
2,18940,2020,2020,1,412178,1047460,84500000,84158461,201858461
3,18815,2020,2020,1,771015,2113220,95000000,146066470,314822103
4,21042,2022,2022,1,955650,2514261,120000000,148648820,400689914

### 4. Train model

In [ ]:
from sklearn.linear_model import LassoCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error


y = cleaned_data['entrees_demarrage_france']
X = cleaned_data.drop('entrees_demarrage_france', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

lasso = LassoCV(cv=5, random_state=42)
lasso.fit(X_train, y_train)

print("Meilleur alpha trouvé :", lasso.alpha_)
print("Score R² train :", lasso.score(X_train, y_train))
print("Score R² test  :", lasso.score(X_test, y_test))

y_pred = lasso.predict(X_test)
rmse = root_mean_squared_error(y_test, y_pred)
print("RMSE :", rmse)
#print("RMSE divided by 2000 :", rmse /2000)

Meilleur alpha trouvé : 26786943447.22933
Score R² train : 0.8314991767639591
Score R² test  : 0.7996051653770728
RMSE : 96875.98077994295